# Node.js dependencies
node_modules/

# Build output folders (if applicable)
build/
dist/

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.*.local

# Operating system files
.DS_Store

# IDE/Editor-specific files (for example, for Visual Studio Code)
.vscode/
.idea/

# npm package lock files
package-lock.json
yarn.lock

# Temporary files created by the editor or OS
Thumbs.db
ehthumbs.db