<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Area</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <header>
    <h1>Register</h1>
  </header>
  <div class="container">
    <h1>Register for Muirkirk Angling Association</h1>
<form action="/register" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  First Name: <input type="text" name="firstName" required><br>
  Last Name: <input type="text" name="lastName" required><br>
  Email: <input type="email" name="email" required><br>
  Password: <input type="password" name="password" required><br>
  Permit Type: <input type="text" name="permitType" required><br>
  <button type="submit">Register</button>
</form>
</div>
<footer>
    <p>&copy; 2025 Muirkirk Angling Association</p>
</footer>
</body>
</html>